<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>QFD Server</display-name>
     <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.pt.base.auth.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manager</servlet-name>
        <servlet-class>com.pt.base.servlet.ManagerServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ajax</servlet-name>
        <servlet-class>com.pt.base.servlet.ManagerServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>service</servlet-name>
        <servlet-class>com.pt.base.servlet.ManagerServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>startup</servlet-name>
        <servlet-class>com.demx.web.StartupServlet</servlet-class>
        <init-param>
            <param-name>startConfig</param-name>
            <param-value>startup.xml</param-value>
        </init-param>
        <init-param>
            <param-name>isStart</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>manager</servlet-name>
        <url-pattern>/mgr/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajax</servlet-name>
        <url-pattern>/ajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>service</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter>
        <filter-name>app</filter-name>
        <filter-class>com.air.web.DispatchFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>app</filter-name>
        <url-pattern>/qform/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring/app.xml, classpath:spring/security-beans.xml, classpath:spring/security.xml</param-value>
    </context-param>
    <jsp-config>
        <taglib>
            <taglib-uri>/functions</taglib-uri>
            <taglib-location>/WEB-INF/functions.tld</taglib-location>
        </taglib>
    </jsp-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>